h1 {
    font-size: 10vw;
    text-align: center;
}

h2 {
    font-size: 5vw;
    text-align: center
}

h3 {
    font-size: 2.7vw;
    text-align: center;
}

p {
    font-size: 2vw;
    text-align: center;
    clear:left;
}
li {
    font-size: 2vw;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 1%;
    margin-left: 5%;
}

img {
    padding: 0 6%;
}

.left {
    float: left;
    text-align: left !important;
}

.right {
    float: right;
    width: 70%;
}

#bella {
    padding-top: 100px;
}

#statement {
    padding-top: 100px;
}

.mission {
    width: 10%;
    aspect-ratio: 1;
    margin-top: 60px;
}