@font-face {
    font-family: 'Minecraft';
    src: url('Minecraft-Regular.woff2') format('woff2'),
        url('Minecraft-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rad';
    src: url('BMXRadical.woff2') format('woff2'),
        url('BMXRadical.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-image: url("images/full-sky.jpg");
    background-size: cover;
    font-family: 'Minecraft';
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 10vw;
    text-align: center;
    font-family: 'Rad';
    background: linear-gradient(orangered, yellow);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    filter:drop-shadow(-0.5vw 0.3vw #000);
}

h2 {
    font-size: 5vw;
    text-align: center;
    font-family: 'Rad';
    background: linear-gradient(orangered, yellow);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    filter:drop-shadow(-0.4vw 0.2vw #000);
}

h3 {
    font-size: 2.7vw;
    text-align: center;
}

p {
    font-size: 2.5vw;
    text-align: center;
    clear:left;
    font-weight: bold;
}
li {
    font-size: 2.5vw;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 1%;
    margin-left: 5%;
    font-weight: bold;
    color: rgb(60, 74, 201);
}
q {
    font-size: 2.2vw;
}

#banner img {
    padding: 0 6%;
}

#banner {
    margin-top: 30vw;
}

#bella {
    padding-top: 100px;
}

#elayna div div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
#elayna img {
    width: 100%;
}
.small {
    width: 40% !important;
}

.left {
    margin-left: 12%;
}
.right {
    margin-left: -8%;
}


#statement {
    padding-top: 100px;
    width: 90%;
    margin: 0 auto;
}

#message {
    color: white;
    width: 90%;
    margin: 0 auto;
}
#message h2 {
    color: rgb(60, 74, 201);
}
#message div div {
    width: 40%;
    margin-left: 5%;
}
#message div img {
    width: 27%;
}

.quote {
    width: 70%;
    margin: 30px auto;
}

.mission {
    width: 20%;
}